.full{
width: 200px;
height: 200px;
border: 1px solid black;
position: absolute;
animation-name:bcd;
animation-duration: 4s;
animation-delay: 1s;
animation-iteration-count: 2;
animation-direction: alternate;
}
@keyframes bcd {
    0%{background-color:blue; border-radius: 100%; top: 0px; left: 0px;}
    25%{background-color: purple; border-radius: 100%; top: 0px; left: 400px;}
    50%{background-color: indianred; border-radius: 100%; top: 400px; left: 400px;}
    75%{background-color:yellowgreen; border-radius: 100%; top: 400px; left: 0px;}
    100%{background-color: burlywood; border-radius: 100%; top: 0px; left: 0px;}
    
}
/* .kha{
width: 200px;
height: 200px;
border: 1px solid black;
position: absolute;
animation-name:cde;
animation-duration: 4s;
animation-delay: 1s;
margin-left:32%;
}

@keyframes cde {
 0%{background-color:black; border-radius: 100%; top: 0px; left: 0px;}
 25%{background-color:lawngreen; border-radius: 100%; top: 400px; left: 0px;}
 50%{background-color: brown; border-radius: 100%; top: 400px; left:-400px;}
 75%{background-color:orange; border-radius: 100%; top: 0px; left: -400px;}
 100%{background-color:mediumaquamarine; border-radius: 100%; top: 0px; left: 0px;}
} */
