*{
padding: 0;
margin: 0;


}



.am{
width: 100%;
height: 80px;
background-color:rgba(4, 4, 255, 0.822);
}

.b{
position: absolute;
color: white;
font-size: 40px;
font-family: sans-serif;
margin-top: 15px;
margin-left: 50px;
}

.k{
float: right;
margin-top: 30px;
margin-right: 100px;
}
.k a{
color: white;
font-size: 20px;
text-decoration: none;
padding: 30px;
font-family: sans-serif;
}