.main{
    width: 100%;
    height: 100vh;
    background-image: url(download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.text{
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 350px;
    margin-top: 150px;
}
.text h1{
    font-size: 50px;
    font-family: sans-serif;
}
.text p{
    font-size: 20px;
    font-family: sans-serif;
    margin-top: -20px;
}
.text button{
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: white;
    border-color: white;
}
.text button:hover{
    background-color: orangered;
    color: white;
    transition: 1s;
    border-radius: 20px;
}