*{
    padding: 0;
    margin: 0;
}

.nav{
    width: 100%;
    height: 120px;
    background-color: navy;
}
.logo{
    position: absolute;
    color: white;
}
.logo h1{
    font-size: 50px;
    font-family: sans-serif;
    margin-top: 20px;
    margin-left: 50px;
}
.links{
    float: right;
    margin-top: 50px;
    margin-right: 100px;
}
.links a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 30px;
    font-family: sans-serif;
}