*{
padding: 0;
margin: 0;


}



.am{
width: 100%;
height: 120px;
background-color: rgb(5, 48, 48);
}

.b{
position: absolute;
color: white;
font-size: 40px;
font-family: sans-serif;
margin-top: 20px;
margin-left: 50px;
}

.k{
float: right;
margin-top: 50px;
margin-right: 100px;
}
.k a{
color: white;
font-size: 20px;
text-decoration: none;
padding: 30px;
font-family: sans-serif;
}