.i{
width:1250px;
height:175px ;
border:1px solid black;
background-color:rgb(26, 177, 127);
}

.j{
width: 200px;
 height: 300px;
  border: 1px solid black;
   background-color:rgb(54, 95, 135);
}

.k{
width: 60px;
height: 20px;
border: 1px solid black;
 background-color: rgb(24, 168, 120);
 margin-left: 65px;
 margin-top: 70px;
}

.l{
width: 60px;
height: 20px;
border: 1px solid black; 
background-color: rgb(26, 161, 116);
margin-left: 65px;
margin-top: 70px;
}

.m{
width: 1045px; 
height: 300px;
border: 1px solid black;
background-color: white;
margin-top: -184px;
 margin-left: 200px;

}

.n{
width: 1250px;
height:100px ;
border: 1px solid black;
background-color:rgb(64, 66, 67);
margin-top: ;



}