.main{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
    animation-name: abc;
    animation-duration: 4s;
    animation-delay: 1s;
}


@keyframes abc {
    0%{background-color: red; border-radius: 100%; top: 0px; left: 0px;}
    25%{background-color: yellow; border-radius: 100%; top: 0px; left: 400px;}
    50%{background-color: peru; border-radius: 100%; top: 400px; left: 400px;}
    75%{background-color: pink; border-radius: 100%; top: 400px; left: 0px;}
    100%{background-color: burlywood; border-radius: 100%; top: 0px; left: 0px;}
    
}