.w{
width: 350px;
 height: 370px;
 border: 2px solid black;
 background-color: rgb(211, 226, 226);"
}

.x{
width: 300px;
 height: 50px;
 background-color: teal;
 border: 2px solid black;
  margin-left: 20px;
   margin-top: 20px;
}

.y{
width: 300px;
 height: 50px;
 background-color: teal;
 border: 2px solid black;
  margin-left:20px;
   margin-top: 20px;
}

.z{
width: 300px;
 height: 50px;
 background-color: teal;
 border: 2px solid black;
  margin-left:20px;
   margin-top: 20px;



}

.zz{
width: 300px;
 height: 50px;
 background-color: teal;
 border: 2px solid black;
  margin-left:20px;
   margin-top: 20px;





}