.d{
   width: 600px;
   height: 500px;
   border: 1px solid black;
 }

  .e{
     width:500px;
height: 100px;
border: 1px solid black;
margin-left: 50px;
margin-top: 50px;
background-color: orange;  
}

  .f{
      width: 500px;
height: 100px;
border: 1px solid black;
margin-left: 50px;
margin-top: 40px;
background-color: blue;
 }

 .g{
 width: 500px;
height: 100px;
border: 1px solid black;
margin-left: 50px;
margin-top: 40px;
background-color: green;
}